:root {
    --primary: #17a095;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.page {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-self: center;
    box-shadow: -2px 10px 10px 5px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
}

.side {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: var(--primary);
    padding: 1rem;
    gap: 2rem;
}

.photo {
    border-radius: 50%;
    align-self: center;
}

.info p,
div label {
    font-size: 16px;
    margin: 0px;
}

hr {
    width: 80%;
    border: none;
    height: 1px;
    background-color: #fff;
}

label {
    color: #fff;
}

.infoTitle,
.info,
.hobby {
    color: #fff;
}

.hobby li {
    list-style: none;
}


/*================Main Section==========*/

.main {
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.name {
    font-size: 3rem;
    text-align: center;
    color: var(--primary);
    margin: 0;
}

h2 {
    color: #fff;
    padding: 0.3rem;
}

p {
    text-align: justify;
}

li {
    margin: 1rem;
}

.titleContainer {
    width: 70%;
    background-color: var(--primary);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

@media only screen and (max-width: 600px) {
    .page {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-self: center;
        box-shadow: -2px 10px 10px 5px rgba(0, 0, 0, 0.3);
    }
    .side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0;
    }
    .main p {
        overflow-x: scroll;
        height: 5rem;
    }
    body,
    .side {
        font-size: medium;
        text-align: justify;
        margin: 0;
    }
    .infoContainer,
    .skills,
    .hobbies,
    .languages {
        font-size: 11px;
        padding: 1rem;
        margin-left: 2rem;
    }
    a {
        font-size: 12px;
    }
}